<header>
  <nav>
        {{#user}}
      <span>Welcome, {{user.username}}</span>
      | <a href="/courses/my-bookings">My Bookings</a>
      {{#user.isOrganiser}} | <a href="/admin">Admin Dashboard</a>{{/user.isOrganiser}}
      | <a href="/logout">Logout</a>
    {{/user}}

    <a href="/courses">Courses</a>

    {{^user}}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    {{/user}}
  </nav>
</header>
<hr>
